<!DOCTYPE html>
<html>
    <head>
        <title>All Albums</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/albums.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index">Jammer</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Albums</a></li>
            <li><a href="playlist" id="playlist">Playlist</a></li>
                        <li><a href="statistics" id="statistics">statistics</a></li>   
                        <li><a href="logout">Logout</a></li>                     
                    </ul>
                </div>
            </div>
        </nav>
        <div id="session1" class="container-fluid info">               
           <div class="col-lg-3">
                <div class="row">               
                    <div class="column add-bottom">
                        <div id="mainwrap">
                            <div id="nowPlay">
                                <span class="left" id="npAction">Paused...</span>
                                <span class="right" id="npTitle"></span>
                            </div>
                            <div id="audiowrap">                                
                                <audio preload id="audio1" controls>Your browser does not support HTML5 Audio!</audio>                                
                                <div id="tracks">
                                    <button id="btnPrev" class="btn-default"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
                                    <button id="btnPlay" class="btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                                    <button id="btnNext" class="btn-default"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
                                </div>
                            </div>
                            <div id="plwrap">
                                <ul id="plList"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-8">
                <div class="row eachrow">
                    <div class="col-lg-3">                    
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1" id="collapse">Justin Timberlake</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/justin_timberlake/justin_timberlake.jpg" alt="Album1" /> 
                                    <ul>
                                        <li class="addSong" data-album="justin_timberlake" data-song="cry me a river" data-time="4:50
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Cry me a river</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>     
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2">Lingaa</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Lingaa/Lingaa.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Lingaa" data-song="Vo Rabba Rabba" data-time="4:24">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Vo Rabba Rabba</h4></li>
                                        <li class="addSong" data-album="Lingaa" data-song="Vo Manmadhaa" data-time="4:48">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Vo Manmadhaa</h4></li>
                                        <li class="addSong" data-album="Lingaa" data-song="Sathyam Shivamu" data-time="5:22">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Sathyam Shivamu</h4></li>
                                        <li class="addSong" data-album="Lingaa" data-song="Monaa Monaa" data-time="6:02">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Monaa Monaa</h4></li>
                                        <li class="addSong" data-album="Lingaa" data-song="Indiany Raa" data-time="6:06">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Indiany Raa</h4></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse3" >Barfi</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Barfi/Barfi.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Barfi" data-song="Saawali Si Raat" data-time="5:14">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Saawali Si Raat</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Aashiyan (Solo)" data-time="4:12">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Aashiyan (Solo)</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Ala Barfi (Kaju Barfi)" data-time="5:25">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ala Barfi (Kaju Barfi)</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Ala Barfi" data-time="5:19">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ala Barfi</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Kyon" data-time="4:27">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Kyon</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Main Kya Karoon" data-time="4:31">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Main Kya Karoon</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Phir Le Aya Dil (Redux)" data-time="5:04">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Phir Le Aya Dil (Redux)</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Phir Le Aya Dil (Reprise)" data-time="5:07">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Phir Le Aya Dil (Reprise)</h4></li>
                                        <li class="addSong" data-album="Barfi" data-song="Phir Le Aya Dil" data-time="4:45">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Phir Le Aya Dil</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse4">Bol Bachan</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Bol_Bachan/Bol_Bachan.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Bol_Bachan" data-song="Bol Bachchan (Title Song-Remix)" data-time="4:55">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Bol Bachchan (Title Song-Remix)</h4></li>
                                        <li class="addSong" data-album="Bol_Bachan" data-song="Chalao Na Naino Se (Remix)" data-time="5:29">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Chalao Na Naino Se (Remix)</h4></li>
                                        <li class="addSong" data-album="Bol_Bachan" data-song="Chalao Na Naino Se" data-time="5:43">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Chalao Na Naino Se</h4></li>
                                        <li class="addSong" data-album="Bol_Bachan" data-song="Jab Se Dekhi Hai (Remix)" data-time="4:07">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Jab Se Dekhi Hai (Remix)</h4></li>
                                        <li class="addSong" data-album="Bol_Bachan" data-song="Nach Le Nach Le" data-time="4:45">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Nach Le Nach Le</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-lg-offset-1 col-lg-8">
                <div class="row eachrow">
                    <div class="col-lg-3">                    
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse5" id="collapse">Bombay</a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Bombay/Bombay.jpg" alt="Album1" /> 
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Adi Arabi Kadalandam" data-time="5:17
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Adi Arabi Kadalandam</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Bombay Theme (Instrumental)" data-time="5:15
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Bombay Theme (Instrumental)</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Kannanule" data-time="5:55
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Kannanule</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Kuchi Kuchi Konamma" data-time="5:06
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Kuchi Kuchi Konamma</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Poolakundi Komma" data-time="5:56
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Poolakundi Komma</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Bombay" data-song="Vurike Chilakaa" data-time="7:18
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Vurike Chilakaa</h4></li>
                                    </ul>
                                </div>                            
                            </div>

                        </div>     
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse6">Chennai_Express</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Chennai_Express/Chennai_Express.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Chennai_Express" data-song="Chennai Express Mashup" data-time="3:37">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Chennai Express Mashup</h4></li>
                                        <li class="addSong" data-album="Chennai_Express" data-song="Chennai Express" data-time="4:45">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Chennai Express</h4></li>
                                        <li class="addSong" data-album="Chennai_Express" data-song="Kashmir Main, Tu Kanyakumari" data-time="5:10">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Kashmir Main, Tu Kanyakumari</h4></li>
                                        <li class="addSong" data-album="Chennai_Express" data-song="Monaa Monaa" data-time="6:02">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Monaa Monaa</h4></li>
                                        <li class="addSong" data-album="Chennai_Express" data-song="One Two Three Four (Get On The Dance Floor)" data-time="3:50">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> One Two Three Four (Get On The Dance Floor)</h4></li>
                                        <li class="addSong" data-album="Chennai_Express" data-song="Ready Steady Po" data-time="3:29">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ready Steady Po</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse7" class="">ishaqzaade</a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/ishaqzaade/ishaqzaade.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Ishaqzaade" data-time="4:31">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ishaqzaade</h4></li>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Chokra Jawaan" data-time="5:12">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Chokra Jawaan</h4></li>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Pareshaan" data-time="4:54">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Pareshaan</h4></li>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Ala ishaqzaade" data-time="5:19">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ala ishaqzaade</h4></li>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Jhalla Wallah" data-time="5:53">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Jhalla Wallah</h4></li>
                                        <li class="addSong" data-album="ishaqzaade" data-song="Aafaton Ke Parinde" data-time="3:25">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> Aafaton Ke Parinde</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse8">Jab Tak Hai Jaan</a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Jab_Tak_Hai_Jaan/Jab_Tak_Hai_Jaan.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Jab_Tak_Hai_Jaan" data-song="01 - Challa" data-time="5:23">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 01 - Challa</h4></li>
                                        <li class="addSong" data-album="Jab_Tak_Hai_Jaan" data-song="02 - Saans" data-time="5:28">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 02 - Saans</h4></li>
                                        <li class="addSong" data-album="Jab_Tak_Hai_Jaan" data-song="03 - Ishq Shava" data-time="4:32">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 03 - Ishq Shava</h4></li>
                                        <li class="addSong" data-album="Jab_Tak_Hai_Jaan" data-song="04 - Heer" data-time="5:16">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 04 - Heer</h4></li>
                                        <li class="addSong" data-album="Jab_Tak_Hai_Jaan" data-song="05 - Jiya Re" data-time="5:21">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 05 - Jiya Re</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-lg-offset-1 col-lg-8">
                <div class="row eachrow">
                    <div class="col-lg-3">                    
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse9" id="collapse">Julai</a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Julai/Julai.jpg" alt="Album1" /> 
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="01 - Julai" data-time="4:22
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 01 - Julai</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="02 - O Madhu" data-time="4:05
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 02 - O Madhu</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="03 - Osey Osey" data-time="4:15
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 03 - Osey Osey</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="04 - Chakkani Bike Undhi" data-time="4:06
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 04 - Chakkani Bike Undhi</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="05 - Mee Intiki Mundhu" data-time="3:52
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 05 - Mee Intiki Mundhu</h4></li>
                                    </ul>
                                    <ul>
                                        <li class="addSong" data-album="Julai" data-song="06 - Pakado Pakado" data-time="4:00
                                        ">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 06 - Pakado Pakado</h4></li>
                                    </ul>
                                </div>                            
                            </div>

                        </div>     
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse10">khaleja</a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/khaleja/khaleja.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="khaleja" data-song="01 - Sada Siva" data-time="4:29">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 01 - Sada Siva</h4></li>
                                        <li class="addSong" data-album="khaleja" data-song="02 - Bhoom Shakenaka" data-time="4:47">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 02 - Bhoom Shakenaka</h4></li>
                                        <li class="addSong" data-album="khaleja" data-song="03 - Pileche" data-time="5:41">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 03 - Pileche</h4></li>
                                        <li class="addSong" data-album="khaleja" data-song="04 - Makathika" data-time="4:51">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 04 - Makathika</h4></li>
                                        <li class="addSong" data-album="khaleja" data-song="05 - Sunday Monday" data-time="4:40">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 05 - Sunday Monday</h4></li>
                                        <li class="addSong" data-album="khaleja" data-song="06 - Taxi" data-time="4:41">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 06 - Taxi</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse11" class="">khushi</a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/khushi/khushi.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="khushi" data-song="khushi" data-time="4:31">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> khushi</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="01 - Ye Mera Jahan" data-time="5:17">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 01 - Ye Mera Jahan</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="02 - Ammaye Sannaga" data-time="4:56">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 02 - Ammaye Sannaga</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="03 - Premante" data-time="6:17">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 03 - Premante</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="04 - Cheliya Cheliya" data-time="5:45">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 04 - Cheliya Cheliya</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="05 - Aaduvari Matalaku" data-time="3:05">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 05 - Aaduvari Matalaku</h4></li>
                                        <li class="addSong" data-album="khushi" data-song="06 - Holi Holi" data-time="4:26">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 06 - Holi Holi</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse12">Life is beautiful</a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <img src="songs/Life_is_Beautiful/Life_is_Beautiful.jpg" alt="Album1">
                                    <ul>
                                        <li class="addSong" data-album="Life_is_Beautiful" data-song="01 - Life Is Beautiful" data-time="5:24">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 01 - Life Is Beautiful</h4></li>
                                        <li class="addSong" data-album="Life_is_Beautiful" data-song="02 - Emundo" data-time="4:45">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 02 - Emundo</h4></li>
                                        <li class="addSong" data-album="Life_is_Beautiful" data-song="03 - Atu Itu" data-time="5:30">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 03 - Atu Itu</h4></li>
                                        <li class="addSong" data-album="Life_is_Beautiful" data-song="04 - Its Your Love" data-time="5:11">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 04 - Its Your Love</h4></li>
                                        <li class="addSong" data-album="Life_is_Beautiful" data-song="05 - Amma" data-time="5:50">
                                            <h4><span class="glyphicon glyphicon-plus-sign"></span> 05 - Amma</h4></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>            
            </div>


            

        </div>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>   
        <script src="js/albums.js"></script>        
    </body>
</html>

